.example-container {
    position: static;
    min-width: 100%;
    min-width: 300%;
  }

.toggle {
    position: absolute;
    top: 1.3%;
    color: white
}

.nav-list-item {
    padding-left: 10%;
}
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
